export DJANGO_READ_DOT_ENV_FILE=True
export SENDGRID_API_KEY=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
export DATABASE_URL=postgres://bvkkubsjspvnbe:3a474c1c906d5d78797df207750f9e7e0eae9667722fed422c106058c6281971@ec2-18-214-208-89.compute-1.amazonaws.com:5432/d6jqfh96mha1lt
export USE_DOCKER=False
