{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">

      <h2>{{ object.first_name }} {{ object.last_name }}</h2>
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12">
    <p>Username: {{ object.username }}</p>
    <p>Email: {{ object.email }}</p>
    <p>Shuttle Tokens: {{ object.shuttle_tokens }}</p>
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Account Settings</a>
{#    <a class="btn btn-primary" href="{% url 'account_email' %}" role="button">E-Mail</a>#}
    <!-- Your Stuff: Custom user template urls -->
  </div>

</div>
<!-- End Action buttons -->
{% endif %}


</div>
{% endblock content %}

