{% extends "base.html" %}
{% load static %}

{% block title %}User: {{ object.username }}{% endblock %}
{% block nav_item_profile %}active{% endblock %}

{% block content %}
<div class="container">

  <div class="row">
    <div class="col-sm-12">
      <h2>{{ object.first_name }} {{ object.last_name }}</h2>
    </div>
  </div>

{% if object == request.user %}
<!-- Action buttons -->
<div class="row">

  <div class="col-sm-12 mt-3">
    <p><strong>Username: </strong>{{ object.username }}</p>
    <p><strong>Email:</strong> {{ object.email }}</p>
    <p><strong>Active Reservations:</strong> {{ object.n_shuttles }}</p>
    <p><strong>Reservation Tokens: </strong>{{ object.shuttle_tokens }}</p>
    <a class="btn btn-primary" href="{% url 'users:update' %}" role="button">Account Settings</a>
  </div>

</div>
<!-- End Action buttons -->
{% endif %}

</div>
{% endblock content %}

