{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset Requested" %}{% endblock %}

{% block inner %}
  <h1>{% trans "Password Reset Requested" %}</h1>

  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  <p>
    {% blocktrans %}
      We've sent you an e-mail with a password reset link.
      Be sure to check your spam filter in case it doesn't appear in your inbox.
      If you do not receive it within the next few minutes,
      please
      <a href="mailto:instashuttlehelp@gmail.com">contact us</a>.
    {% endblocktrans %}
  </p>
{% endblock %}

