{% extends "account/base.html" %}

{% load i18n %}
{% load account %}
{% load crispy_forms_tags %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block inner %}

  <h1>{% trans "Password Reset" %}</h1>
  {% if user.is_authenticated %}
    {% include "account/snippets/already_logged_in.html" %}
  {% endif %}

  {% blocktrans %}
    <p>
    Forgotten your password? No problem, we'll e-mail you a link to reset it.
    </p>
  {% endblocktrans %}

  <form method="POST" action="{% url 'account_reset_password' %}"
        class="password_reset">
    {% csrf_token %}
    {{ form|crispy }}
    <input class="btn btn-primary mb-3" type="submit"
           value="{% trans 'Reset My Password' %}"/>
  </form>

  <p>{% blocktrans %}
    If you have any trouble resetting your password, please
    <a href="mailto:instashuttlehelp@gmail.com">contact us</a>.
  {% endblocktrans %}
  </p>
{% endblock %}

